.meta {
  font-style: italic;
  margin: 0 auto 1em;
  position: relative;
  top: -1em;
}

.article {
  display: grid;
}

.body {
  max-width: 48rem;
}

.article h2:first-of-type {
  margin-top: 0;
}

.article a {
  border-bottom: 1.5px solid currentColor;
}

.article a:hover {
  border-bottom-color: transparent;
}

.article p {
  margin-bottom: 1.5em;
  margin-top: 0;
}


.article h3,
.article h4,
.article h5,
.article h6 {
  margin-bottom: 0.5em;
  margin-top: 3em;
}

.article li {
  margin-bottom: 0.5em;
}

.articleNavigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-top: 16px;
  padding: 0;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
  }

}

@media (min-width: 1024px) {
  .article {
    padding-left: 0;
    padding-right: 0;
  }

  .article ul {
    padding-left: 0;
  }
}
