.article-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
}

.card {
  width: 100%;
  max-width: 400px;
  margin: 12px 8px 16px;
  padding: 0;
}

.title {
  display: inline-block;
  margin-top: 8px;
  border-bottom: 1.5px solid transparent;
}

.link {
  text-decoration: none;
}

.meta {
  display: flex;
  justify-content: space-between;
}
