.site-layout-header {
    padding: 0 20px;
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

.site-layout-content-wrapper {
   padding: 20px 5px;
   width: 100%;
   max-width: 1500px;
   margin: auto;
}

.site-layout-content {
    min-height: 90vh;
    padding: 24px;
    background: #fff;
}

.logo {
    float: left;
    width: 120px;
    height: 35px;
    margin: 0 24px 16px 0;
}

.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.menu-item-ozeruha {
}

.menu-item-ozeruha:hover {
    background: none !important;
}

[data-theme="dark"] .site-layout-content {
    background: #141414;
}

@media (max-width: 1500px) {
    .site-layout-header {
        padding: 0 50px;
    }

    .site-layout-content-wrapper {
        padding: 0 50px;
    }
}


@media (max-width: 768px) {
    .site-layout-content-wrapper {
        padding: 0 20px;
    }

    .site-layout-header {
        padding: 0 15px;
    }
}


